@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/imges/group.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    justify-items: center;
    align-items: center;
}
.extraFunc{
    background: rgba(255, 255, 255, 0.3);
    width: 380px;
    height: 150px;
    padding: 20px;
    margin: 15px;
    box-shadow: 2px 2px 5px #e3360b;
}
.newName{
    background: rgba(255, 255, 255, 0.3);
    margin-left: 7px;
}
#userPhoto {
    width: 170px;
    height: 230px;
}

.userPortfolio {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px #e3360b;
}

button {
    cursor: pointer;
    padding: 10px 30px;
    width: 220px;
    height: 70px;
    color: red;
    background: black;
    border-radius: 25px;
    border-color: red;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px #9c0308;
}

button:hover {
    opacity: 80%;
    font-weight: bold;
    transform: scale(1, 1);
}

.texting1 {
    font-size: 23px;
    color: #e30202;
    margin: 5px;
    font-weight: bold;
}

.texting {
    font-size: 20px;
    color: #e30202;
}
.infoText {
    overflow: hidden;
    font-size: 23px;
    text-indent: 10px; /* Отступ первой строки */
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    color: red;
    transition: all 1s;
}
.infoText:hover {
    text-shadow: -400px 0 darkred,
    400px 0 darkred,
    0 0 black;
}

.labelLine {
    display: inline-block;
    font-size: 18px;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
    color: red;
    transition: all 1s;
}

.labelLine:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid whitesmoke;
    bottom: .15em;
    transition: all 1s;
}

.labelLine:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

.infoLine {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 7px;
}

.btnflip-item {
    width: 100px;
    height: 37%;
    text-align: center;
    font-size: 12px;
    background-color: black;
    border-radius: 35px;
    border-color: red;
    text-transform: uppercase;
    color: red;
}

.btnflip-item1 {
    width: 170px;
    height: 50%;
    text-align: center;
    font-size: 17px;
    background-color: black;
    border-radius: 35px;
    border-color: red;
    text-transform: uppercase;
    color: red;
}
.btnflip-itemSET {
    width: 100px;
    height: 30%;
    text-align: center;
    font-size: 18px;
    background-color: black;
    border-radius: 35px;
    border-color: red;
    text-transform: uppercase;
    color: red;
    margin-top: 20px;
}