*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(/imges/first.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.btnflip-item {
  position: absolute;
  top: 46%;
  left:47%;
  width: 13%;
  height: 10%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  background-color: black;
  border-radius: 35px;
  border-color: red;
  text-transform: uppercase;
  color: red;
}
