body{
  background-color: black;
  display: flex;
  flex-direction: column;
	margin:0;
  padding: 0;
}
.container2{
  background: url(/imges/back.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 25px;
}
h1{
	cursor:help;
	margin:0;
	text-transform:uppercase;
	color:#e30202;
	padding-bottom:5px;
	border-bottom:3px solid #e30202;
}
form{
	margin:0 auto;
	background:rgba(255, 255, 255, 0.3);
	width:450px;
	height:500px;
	padding:20px;
	box-shadow:2px 2px 5px #e3360b;
}
.group{
	margin:10px;
	padding:5px;
}
input#loginkeeping{
	width:25px;
	padding-left:0px;
	height:20px;
	border-radius:none;
	transform:none;
}
label#loginkeep{
	text-transform:lowercase;
	padding-left:5px;
	font-size:15px;
}
.question{
	text-transform:lowercase;
	padding-left:5px;
	font-size:15px;
}
label{
	padding-left:10px;
	text-transform:uppercase;
}
input{
	margin-top:10px;
	height:40px;
	width:400px;
	border-radius:20px/20px;
	border:none;
	padding-left:15px;
	font-size:10px;
	box-shadow:2px 2px 5px #e3360b;
}
input:focus{
	border:2px solid #e3360b;
	transform:translateX(15px);
	width:385px;
}
button{
	cursor:pointer;
	padding:10px 30px;
  width: 170px;
	height:50px;
	color: red;
	background:black;
	border-radius: 25px;
  border-color: red;
	text-transform:uppercase;
	font-size:15px;
	box-shadow:2px 2px 5px #9c0308;
}
button:hover{
	opacity:80%;
	font-weight:bold;
	transform:scale(1,1);
}
.texting{
  font-size: 20px;
  color: #e30202;
  font-weight: bold;
}
.remember{
  font-size: 10px;
  color: #e30202;
}
.question{
  font-size: 17px;
  color: #e30202;
}
