<!DOCTIPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset= " utf-8"/>
	<link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet">
</head>
<body>
<div th:if="${param.error}">
	Invalid username and password.
</div>
<div th:if="${param.logout}">
	You have been logged out.
</div>


  <div class="container1">
     <div><img id="mortal" th:src="@{/imges/icon.png}"></div>
  </div>
  <div class="container2">
    <form th:action="@{/entrance}" th:method="post">
      <center><h1 title="Форма входа на сайте">Entrance</h1></center>
	  <div class="group">
	    <label class="texting">USER NAME:</label>
		<input type="text" placeholder="User" name="username" required>
	  </div>
	  <div class="group">
	  	<label class="texting">PASSWORD:</label>
		<input type="password" placeholder="password" name="password" required>
	  </div>

	  <p class="keeplogin">
        <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
        <label class="remember" id="loginkeep" for="loginkeeping">Remember me</label>
      </p>
	  <div class="group">
        <center>
			<button>Enter</button>
		</center>
	  </div>
	  <a th:href="@{/registration}" class="question">Doesn't have registration yet?</a>
    </form>
  </div>
</body>
</html>
