<!DOCTIPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/first.css"
          th:href="@{/css/first.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div>
    <img id="mortal" th:src="@{/imges/icon.png}">
</div>
<form  th:action="@{/home}" th:method="get">
    <button class="btnflip-item" type="submit" >START</button>
</form>
</body>
</html>
