<!DOCTIPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset=" utf-8"/>
    <link href="../static/css/fight.css" th:href="@{/css/fight.css}" rel="stylesheet">
</head>
<body>
<div class="container1">
    <div><img id="mortal" th:src="@{/imges/icon.png}"></div>
    <form th:action="@{/logout}" method="post">
        <button class="btnflip-item" type="submit">SIGN OUT</button>
    </form>
</div>
<div class="container2">
    <div class="userPortfolio">
        <img id="userPhoto" th:src="@{|/imges/${imgUrl}|}">
        <div class="infoLine">
            <p class="labelLine">USER NAME : </p>
            <p class="infoText" th:text="${uName}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">CHARACTER NAME : </p>
            <p class="infoText" th:text="${cName}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">LEVEL : </p>
            <p class="infoText" th:text="${level}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">EXPERIENCE : </p>
            <p class="infoText" th:text="${experience}"></p>
        </div>
    </div>

    <div class="extraFunc">
        <form th:action="@{/update}" th:method="post" enctype="utf-8">
            <div class="group">
                <label class="infoText">Set new name to your character, if you want:</label>
                <input class="newName" type="text" placeholder="New Name" name="new_name">
            </div>
           <center><button class="btnflip-itemSET" type="submit">SET</button></center>
        </form>
    </div>


    <form th:action="@{/start}" th:method="get">
        <button class="btnflip-item1" type="submit">LETS START</button>
    </form>

</div>
</body>
</html>
