<!DOCTIPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset= " utf-8"/>
	<link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet">

</head>
<body>
  <div class="container1">
     <div><img id="mortal" th:src="@{/imges/icon.png}"></div>
  </div>
 <div class="container2">
    <form  th:action="@{/registration}" th:method="post" enctype="utf-8">
      <center><h1 title="Форма регистрации на сайте">Registration</h1></center>
	  <div class="group">
	    <label class="texting" >USER NAME:</label>
		<input type="text" placeholder="User" name="username" required>
	  </div>
	  <div class="group">
	  	<label class="texting" >PASSWORD:</label>
		<input type="password" placeholder="password"  name="password" required>
	  </div>
		<div class="group">
			<label class="texting" >CONFIRM PASSWORD:</label>
			<input type="password" placeholder="password"  name="confirmPassword" required>
		</div>
	  <div class="group">
        <center>
		    <button>Registration</button>
		</center>
	  </div>
	  <a th:href="@{/entrance}" class="question">Already have registration?</a>
    </form>
  </div>
</body>
</html>
