<!DOCTIPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset=" utf-8"/>
    <link href="../static/css/fight.css" th:href="@{/css/start.css}" rel="stylesheet">
</head>
<body>
<div class="container1">
    <div><img id="mortal" th:src="@{/imges/icon.png}"></div>
    <form th:action="@{/home}" method="get">
        <button class="btnflip-item" type="submit">USER PAGE</button>
    </form>
    <form th:action="@{/logout}" method="post">
        <button class="btnflip-item" type="submit">SIGN OUT</button>
    </form>
</div>
<div class="container2">
    <div class="userPortfolio">
        <img class="userPhoto" th:src="@{|/imges/${r_imgUrl}|}">
        <div class="infoLine">
            <p class="labelLine">USER NAME : </p>
            <p class="infoText" th:text="${r_u_name}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">CHARACTER NAME : </p>
            <p class="infoText" th:text="${r_c_name}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">LEVEL : </p>
            <p class="infoText" th:text="${r_level}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">EXPERIENCE : </p>
            <p class="infoText" th:text="${r_experience}"></p>
        </div>
    </div>

    <div class="centerElements">

        <p class="conclusion" th:text="${txt}"></p>

        <p class="expLine">Your experience to add is:
        <p class="expLine" th:text="${exp}"></p>
        </p>

        <!--        <iframe src="https://giphy.com/embed/MtkfkGq8JLf7W" width="480" height="264" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>-->
        <form th:action="@{/fight}" th:method="get">
            <button class="fightButton" type="submit">FIGHT</button>
        </form>
    </div>

    <div class="userPortfolio">
        <img class="userPhoto" th:src="@{|/imges/${b_imgUrl}|}">
        <div class="infoLine">
            <p class="labelLine">CHARACTER NAME : </p>
            <p class="infoText" th:text="${b_name}"></p>
        </div>

        <div class="infoLine">
            <p class="labelLine">LEVEL : </p>
            <p class="infoText" th:text="${b_level}"></p>
        </div>
        <div class="infoLine">
            <p class="labelLine">EXPERIENCE : </p>
            <p class="infoText" th:text="${b_experience}"></p>
        </div>
    </div>

</div>
</body>
</html>
